/* only for admins */
.rwmb-file li {
  width:100%;
}
.remove-all{
  position: absolute;
  right: 30px;
  bottom: 20px;
}
.rwmb-file .rwmb-info {
  width:75%;
}
#post-status-info .character-limit{
  display: block;
  background:#FFA2A2;
  padding:10px;
  width:100%;
}
#post-status-info .character-limit::after {
  content:'Please enter less text';
}
#body.post-type-document:after{
  content: 'Enter description';
}
.wp-core-ui #document-other-langs .button.hidden {
  display: inline-block !important;
}
